
 .start-btn {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  .iconSize {
    font-size: 50px;
  }

  .scroll{
     overflow-x:scroll; 
     overflow-y:hidden;
  }  

  .noticiaItem{
    font-size: 14px;
    background: rgba(255, 255, 255,1);
    color: black;
    padding: 3%;
    text-transform: capitalize;
    position: absolute;
    width: 90%;
    bottom: 10%;
    margin-left: 3%;
    margin-right: 3%;
    // border: 1px solid #cccccc4d;
    box-shadow: 0 4px 16px rgba(0,0,0,.12);
}

.new{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    margin-top: 10%;
}

.icono{
    position: absolute;
    font-size: 800%;
    // color: black;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    margin-top: 80%;
    text-align: center; 
}

.ico{
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    margin-top: 80%;
    text-align: center;
    font-size: 800%;
}

.audio{
    position: absolute;
    font-size: 800%;
    // color: black;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    margin-top: 140%;
    text-align: center;
}


.img{
    display:block;
    width: 27%;
    margin: 0px auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}

.start-btn {
    width: 100px;
    height: 100px;
  }

  .iconSize {
    font-size: 70px;
  }

.iconFavorito{
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;
    font-size: 22px;
    color: #f7f004;
    font-weight: bold;  
}