



<ion-content>

         <!-- <ion-list style="background-image: url('../assets/unicaimg.jpeg'); background-size: cover; 
  height: 100%; width: 100%; overflow-x:hidden; overflow-y:hidden;"> -->

   <!-- <ion-col>
    <img style="margin-top:10%;" src="assets/logoUnica.jpeg">
  </ion-col> -->

  <img style="width: 100%;height: 100%;" src="../assets/unicaimg.jpeg">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="play()">
    <ion-fab-button class="start-btn" color="danger">
      <ion-icon class="iconSize" style="color: white" ios="ios-radio" md="md-radio"></ion-icon>
    <!-- <ion-icon class="iconSize" style="color: white" *ngIf="iconplay == true" (click)="play()" ios="ios-play" md="md-play"></ion-icon>
    <ion-icon class="iconSize" style="color: white" *ngIf="iconpausa == true" (click)="pausa()" ios="ios-pause" md="md-pause"></ion-icon> -->
    </ion-fab-button>
  </ion-fab>

  <!-- </ion-list> -->

      
            
</ion-content>


